@media (max-width: 1280px) {
    :root {
        /* Title Section Font Size (font-size) */
        --fnts-title : 42px;
        /* Skill Section Font Size (font-size) */
        --fnts-skill : 33px;
        /* Sub Title Section Font Size (font-size) */
        --fnts-subtitle : 27px;
        /* Content Section Font Size (font-size) */
        --fnts-content : 18px;
    }
    /* Navigation Bar */
    .home .navi h1 {
        font-size: 30px;
    }
    
    .home .navi .theme {
        width : 3rem;
        font-size: 18px;
    }

    .home .navigation a {
        font-size: 18px;
        margin: 0 1.5rem;
    }

    /* Home Section */
    .home .section1 .introduction {
        padding: 1.5rem 0 1.5rem 1.5rem;
        width: 50%;
    }

    .home .section1 .introduction h1 {
        font-size: 57px;
    }
    
    .home .section1 .introduction h3 {
        font-size: 21px;
    }
    
    .home .section1 .introduction button {
        font-size: 18px;
    }

    .content .profile p {
        font-size: 21px;
    }

    footer h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    :root {
        /* Main Padding (padding) */
        --pad-main : 0 5rem;
    }
}