:root {
    /* Background Image (background-image) */
    --bg-img: url(bg1.jpg);
    /* Background Color (background-color) */
    --clr-bg1: #bfd4ff;
    /* Container Color (background-color */
    --clr-bg2: rgba(255, 255, 255, 0.800);
    /* Main Padding (padding) */
    --pad-main : 0 10rem;
    /* Main Color */
    --clr: #7096dd;
    /* Main Font (font-family) */
    --fnt: 'Nanum Pen Script', cursive;
    /* Font Color 1 (color) */
    --fnt-clr1 : rgba(255, 255, 255, 0.900);
    /* Font Color 2 (color) */
    --fnt-clr2 : rgb(92, 91, 91);
    /* Title Section Font Size (font-size) */
    --fnts-title : 48px;
    /* Skill Section Font Size (font-size) */
    --fnts-skill : 36px;
    /* Sub Title Section Font Size (font-size) */
    --fnts-subtitle : 30px;
    /* Content Section Font Size (font-size) */
    --fnts-content : 21px;
}

/* Dark Theme */
.dark-theme {
    /* Background Image (background-image) */
    --bg-img: url(bg2.jpg);
    /* Background Color (background-color) */
    --clr-bg1: #002c47;
    /* Container Color (background-color */
    --clr-bg2: #001e2e;
    /* Main Color */
    --clr: #008bc2;
    /* Main Font (font-family) */
    --fnt: 'Nanum Pen Script', cursive;
    /* Font Color 1 (color) */
    --fnt-clr1 : rgba(255, 255, 255, 0.800);
    /* Font Color 2 (color) */
    --fnt-clr2 : rgb(167, 167, 167);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-bg1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-bg2);
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fnt);
}

body {
    overflow-x: hidden;
    background-color: var(--clr-bg1);
}

/* Formatting */

.purple-text {
    color: var(--clr);
}

.indent {
    display: block;
    text-indent: 3rem;
}

/* Home */
.home {
    height: 100vh;
    background-image: var(--bg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: var(--pad-main);
    color: var(--fnt-clr1);
    overflow: hidden;
}

/* Navigation Bar */
.home .navi {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3rem 0;
    overflow: hidden;
}

.home .navi h1 {
    font-size: 36px;
    color: var(--clr);
}

.home .navi .theme {
    width : 4rem;
    padding: .5rem 0;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    font-size: 21px;
    background-color: var(--clr);
    color: var(--fnt-clr1);
}

.home .navigation {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.home .navigation a {
    text-decoration: none;
    font-size: 24px;
    padding: 5px 1rem;
    margin: 0 2rem;
    border-radius: 1rem;
    color: var(--clr);
}

/* Home Section */
.home .section1 {
    display: flex;
    align-items: center;
    text-align: justify;
    height: 100%;
    overflow: hidden;
}

.home .section1 .contact-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1.5rem;
    height: 50%;
}

.home .section1 .contact-button button {
    width: 2.5rem;
    padding: .5rem 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--clr);
    color: var(--fnt-clr1);
    font-size: 21px;
}

.home .section1 .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 6px solid var(--clr);
    border-radius: 1rem;
    padding: 2rem 0 2rem 1.5rem;
    width: 50%;
}

.home .section1 .introduction h1 {
    font-size: 66px;
    margin: 1rem 0;
    text-align: left;
}

.home .section1 .introduction h3 {
    font-weight: lighter;
    font-size: 24px;
    color: var(--fnt-clr2);
}

.home .section1 .introduction button {
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 21px;
    width: fit-content;
    background-color: var(--clr);
    color: var(--fnt-clr1);
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    padding: var(--pad-main);
    color: var(--fnt-clr1);
}

/* Content Profile */
.content .profile {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: justify;
    overflow: hidden;
}

.content .profile h2 {
    color: var(--fnt-clr1);
    font-size: var(--fnts-title);
    font-weight: lighter;
}

.content .profile img {
    height: auto;
    width: 30%;
    border-radius: 2rem;
    margin: 1rem 0;
    align-self: center;
}

.content .profile p {
    color: var(--fnt-clr2);
    font-size: 24px;
    line-height: 2rem;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    border-radius: 1rem;
    padding: 1rem;
}

/* Content Skill */
.content .skill {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: justify;
    overflow: hidden;
}

.content .skill h2 {
    color: var(--fnt-clr1);
    font-size: var(--fnts-title);
    font-weight: lighter;
    margin-bottom: 1rem;
}

.content .skill .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.content .skill .skills .skill-section {
    display: flex;
    flex: 1 1 49%;
    flex-direction: column;
    padding: 1rem;
    border: 4px solid var(--clr);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--clr-bg2);
}

.content .skill .skills .skill-section h3 {
    color: var(--clr);
    font-size: var(--fnts-subtitle);
    font-weight: lighter;
}

.content .skill .skills .skill-section h3 span {
    float: right;
}

.content .skill .skills .skill-section p {
    color: var(--fnt-clr2);
    font-size: var(--fnts-content);
    margin: .5rem 0;
}

.content .skill .skills .skill-section .bar {
    width: 100%;
    height: 1.5rem;
    padding: .2rem .2rem;
    border: 2px solid var(--clr);
    border-radius: .3rem;
    margin-top: auto;
}

.content .skill .skills .skill-section .bar span {
    display: block;
    height: 100%;
    background-color: var(--clr);
    border: 1px solid var(--clr);
    border-radius: .2rem;
}

.content .skill .skills .skill-section:nth-child(1) .bar span {
    width: 90%
}

.content .skill .skills .skill-section:nth-child(2) .bar span {
    width: 75%
}

.content .skill .skills .skill-section:nth-child(3) .bar span {
    width: 85%
}

.content .skill .skills .skill-section:nth-child(4) .bar span {
    width: 80%
}

.content .skill .skills .skill-section:nth-child(5) .bar span {
    width: 95%
}

.content .skill .skills .skill-section:nth-child(6) .bar span {
    width: 80%
}

/* Content Project */
.content .project {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: justify;
    overflow: hidden;
}

.content .project h2 {
    color: var(--fnt-clr1);
    font-size: var(--fnts-title);
    font-weight: lighter;
    margin-bottom: 1rem;
}

.content .project .projects {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    gap: 1rem 0;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    border-radius: 1rem;
    padding: 1rem;
}

.content .project .projects img {
    max-height: 20rem;
    max-width: 100%;
    border-radius: .5rem;
    margin-bottom: 1rem;
    object-fit: contain;
    align-self: center;
}

.content .project .projects h3 {
    color: var(--clr);
    font-size: var(--fnts-subtitle);
    font-weight: lighter;
}

.content .project .projects p {
    color: var(--fnt-clr2);
    font-size: var(--fnts-content);
    margin-top: 0.5rem;
    margin-bottom: auto;
}

.content .project .projects button {
    width: 100%;
    padding: .5rem 1rem;
    margin-top: 0.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    font-size: var(--fnts-content);
    background-color: var(--clr);
    color: var(--fnt-clr1);
}

.content .project .projects .website-project, .app-project, .video-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content .project .projects .section-project {
    color: var(--fnt-clr1);
    font-size: var(--fnts-skill);
    font-weight: lighter;
    margin-bottom: 1rem;
}

.content .project .projects .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.content .project .projects .project-container .example-project {
    display: flex;
    flex-direction: column;
    flex: 1 1 49%;
    padding: 1rem;
    border: 4px solid var(--clr);
    border-radius: 1rem;
    background-color: var(--clr-bg2);
    overflow: hidden;
}

/* Footer */
footer {
    justify-content: center;
    padding: 3rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

footer h2 {
    font-size: 21px;
    font-weight: lighter;
    color: var(--fnt-clr1)
}